.feature-section{
    //  padding-top: 120px;
    //  padding-bottom: 100px;
    .outer-feature {
        padding: 0 7%;
        .feature-title{
            text-align: center;
        }
        .custom-feature-slider{
            position: relative;
            .swiper-slide {
                box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
                margin-bottom: 20px;
                margin-top:50px;
            }
            .sale-budge {
                display: inline-block;
                font-size: 13px;
                background-color: #77c720;
                color: var(--white-color);
                padding: 3px 16px;
                text-transform: uppercase;
                line-height: 25px;
                position: absolute;
                right: 15px;
                top: 15px;
            }
            .slide-location{
                position: relative;
                .slide-img{
                    img{
                        width: 100%;
                    }
                }
                .location-with-icons {
                    position: absolute;
                    bottom: 15px;
                    width: 90%;
                    display: flex;
                    justify-content: space-between;
                    padding: 0 19px;
                    align-items: center;
                    a{
                        color: var(--white-color);
                        font-size: 14px;
                    }
                    .camera-flim{
                        a{
                            display: inline-block;
                            width: 42px;
                            height: 30px;
                            line-height: 30px;
                            background-color: rgba(255, 255, 255, 0.3);
                            margin-right: 5px;
                            text-align: center;
                        }
                    }
                }
            }
            .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
                bottom: -2px;
            }
            .swiper-button-next:after, .swiper-button-prev:after {
                font-size: 15px;
            }
            .swiper-button-next, .swiper-button-prev {
                color: var(--black-color);
                width: 50px;
                height: 50px;
                line-height: 50px;
                border: 1px solid #ddd;
                text-align: center;
                display: none;
                font-weight: 900;
                border-radius: 100px;
            }
            .swiper-button-next:hover, .swiper-button-prev:hover{
                background-color: var(--main-color);
                color: var(--white-color);   
                 -webkit-transition: all 0.3s ease 0s;
                -o-transition: all 0.3s ease 0s;
                transition: all 0.3s ease 0s;
            }
         
        .slide-data-info{
            padding: 30px;
            .product-price{
                span{
                    color: var(--main-color);
                }
            }
            h3 {
                font-size: 22px;
                margin-bottom: 15px;
                font-weight: 600;
                margin-top: 10px;
            }
            p{
                color: var(--para-color);
                font-size: 14px;
                line-height: 25px;
                letter-spacing: .3px;
            }
            .icon-listing{
                margin-top: 2em;
                ul{
                   li{
                        position: relative;
                        list-style: none;
                        display: inline-block;
                        margin-right: 20px;
                        max-width: 160px;
                        font-size: 14px;
                        color: var(--para-color);
                        border-right: 1px solid var(--para-color);
                        padding-right: 15px;
                        p{
                            margin: 0;
                            span{
                                svg {
                                    font-size: 18px;
                                    position: relative;
                                    top: 3px;
                                    left: 2px;
                                }
                            }
                        }
                       
                    }
                     li:last-child{
                        border-right: none !important;
                    }
                    }
                   
                }
            }
            .slide-bottom-profile{
            .inner-profile{
                display: flex;
                padding: 20px 30px 30px;
                border-top: 1px solid #e5eaee;
                justify-content: space-between;
               
                .inner-profile-right{
                    ul{
                        li{
                            margin-right: 8px;
                            height: 36px;
                            width: 36px;
                            line-height: 42px;
                            border-right: 0;
                            font-size: 16px;
                            background-color:#f2f6f7;
                            -webkit-transition: all 0.3s ease 0s;
                            -o-transition: all 0.3s ease 0s;
                            transition: all 0.3s ease 0s;
                            display: inline-block;
                            :hover{
                                background-color: var(--main-color);
                                color: var(--white-color);
                            }
                            a{
                                svg{
                                    color: var(--para-color);
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
               
            }
            }
        }
    }
}
.custom-feature-slider:hover .swiper-button-prev, .custom-feature-slider:hover .swiper-button-next {
    display: block !important;
}