.select-container {
    margin-top: -65px;
    z-index: 999;
    position: relative;
    background: var(--white-color);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:40px;
    margin-bottom: 3em;

    select {
        margin: 0;
        height: 60px;
        line-height: 58px;
        padding-right: 40px;
        padding-left: 20px;
        border-radius: 0;
        min-width: 200px;
        font-size: 16px;
        font-weight: 600;
        margin-right: 30px;
        background: var(--white-color);
        border-color:  #e8e8e8;
        width: 25%;
    }
    :focus{
        outline: none;
    }
   
}


